.menuBar{
    height: 100%;
   border-right: 1px solid #000;
}
.container{
    // height: 100%;
    padding: 0;
    margin: 0;
    &-list{
        padding: 0;
        margin: 0;
        height: 100%;
        list-style-type: none;
        &-item{
            padding: 22px 45px 22px 32px;
        }
        &-item:hover{
            background-color: #EABF9F;
        }
        &-logo{
           padding: 20px 47px 30px 32px;
        }
    }
    &-link{
        display: flex;
        text-decoration: none;
        &-name{
            margin: 0;
            padding: 0;
            margin-left: 13px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
        }
    }
}